/*
* BURGER ICON STYLE
*/

.nav-burger-icon{
  padding:0!important;
  display:inline-block;
  width: 48px!important;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .125s ease-in-out;
  -moz-transition: .125s ease-in-out;
  -o-transition: .125s ease-in-out;
  transition: .125s ease-in-out;
  cursor: pointer;
  position:relative;
  z-index:11;
  outline: 0;
}

.nav-burger-icon span{
  display: block;
  position: absolute;
  height: 3px;
  width: 24px;
  border-radius: 9px;
  opacity: 1;
  left: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .125s ease-in-out;
  -moz-transition: .125s ease-in-out;
  -o-transition: .125s ease-in-out;
  transition: .125s ease-in-out;
}

.nav-burger-icon span:nth-child(1) {
  top: 15px;
}
.nav-burger-icon span:nth-child(2) {
  top: 21px;
}
.nav-burger-icon span:nth-child(3) {
  top: 21px;
  display: none !important;
}
.nav-burger-icon span:nth-child(4) {
  top: 27px;
}

.nav-burger-icon.open span:nth-child(1) {
  top: 15px;
  width: 0%;
  left: 50%;
}

.nav-burger-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-burger-icon.open span:nth-child(3) {
  display: block ! important;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.nav-burger-icon.open span:nth-child(4) {
  top: 6px;
  width: 0%;
  left: 50%;
}