.loginImage() when not (@loginImage = ''){
    background-image: url(@loginImage);
    background-repeat: no-repeat;
    background-position: center center;
}
.login-well{
    background-color:transparent;
    border:none;
    box-shadow: none;
    padding-top:150px;
    .form-group{
        text-align:left;
    }
    .loginImage();
}
body.login{
    .dash-margin{
        margin:0;
    }
}
.btn-login{
    background-color:@mainColor;
    border-color:@mainColor;
}