
<!-- 
<OFTranslate text="Empty portlet area" folder="theme_dash" saveas="placeholder">
-->
<div class="columns columns-3">
    <div class="column">
        <OFPortletContainer id="home-private-left" editplaceholder="<OVplaceholder>" mode="locked">
    </div>
    
    <div class="column">
        <OFPortletContainer id="home-private-center" editplaceholder="<OVplaceholder>" mode="locked">
    </div>
    
    <div class="column">
        <OFPortletContainer id="home-private-right" editplaceholder="<OVplaceholder>" mode="locked">
    </div>
    
    <div class="clear"></div>
</div>

<div class="columns columns-3">
    <div class="column">
        <OFPortletContainer id="home-public-left" editplaceholder="<OVplaceholder>">
    </div>
    
    <div class="column">
        <OFPortletContainer id="home-public-center" editplaceholder="<OVplaceholder>">
    </div>
    
    <div class="column">
        <OFPortletContainer id="home-public-right" editplaceholder="<OVplaceholder>">
    </div>
    
    <div class="clear"></div>
</div>

<div class="columns columns-2">
    <div class="column">
        <OFPortletContainer id="home-public-bottom-left" editplaceholder="<OVplaceholder>">
    </div>

    <div class="column">
        <OFPortletContainer id="home-public-bottom-right" editplaceholder="<OVplaceholder>">
    </div>

    <div class="clear"></div>
</div>